#div1 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div2 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div3 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div4 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div5 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div6 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div7 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}
#div8 {width:80px;height: 80px;background: red;border: 1px solid#999;margin-left: 8px;float:left;}